<h1>New Search</h1>

<%= form_with model: @search do |form| %>
  <div>
    <%= form.label :npi %><br>
    <%= form.text_field :npi %>
    <% @search.errors.full_messages_for(:npi).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<br />

<%= link_to "Cancel", searches_path %>