<div class="container">
    <div class="row" id="alerts">
        <% flash.each do |type, msg| %>
        <div>
            <%= msg %>
        </div>
        <% end %>
    </div>
    <div class="header">
        <h1>NPI: <%= @search.npi %></h1>
        <%#<h2>Last searched on <%= @search.updated_at %><%#</h2>%>
    </div>
    <div class="payload">
        <label for="name">Name</label>
        <li id="name"><%= @search.first_name + " " + @search.last_name %></li>

        <label for="address">Address</label>
        <li id="address"><%= @search.address %></li>

        <label for="city">City</label>
        <li id="city"><%= @search.city %></li>

        <label for="state">State</label>
        <li id="state"><%= @search.state %></li>

        <label for="taxonomy">Taxonomy</label>
        <li id="taxonomy"><%= @search.taxonomy %></li>

        <label for="phone_number">Telephone Number</label>
        <li id="phone_number"><%= @search.phone_number %></li>
    </div>
    <div class="row" style="margin-top: 1rem;">
        <button class="btn-primary">
            <%= link_to "Home", searches_path %>
        </button>
    </div>
</div>